<h1>New Recipe</h1>
<%= flash[:error] %>
<%= form_with model: @recipe, local: true, method: :post, scope: :recipe do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :description %>
  <%= form.text_field :description %>
  <%= form.label :ingredients %>
  <%= form.text_area :ingredients %>
  <%= form.label :directions %>
  <%= form.text_area :directions %>
  <%= form.submit %>
<%end%>