<%= render partial: 'partials/navbar'%>
<%= image_tag @photo.image_url %>
<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.directions %></p>
<%if current_user%>
<%=button_to 'Delete', recipe_path(@recipe.id), method: :delete%>
<%=button_to 'Edit', edit_recipe_path(@recipe.id), method: :get%>
<%end%>
